<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="topkek_mobile.fragments1">

    <uses-feature
        android:glEsVersion="0x0020000"
        android:required="true"/>


    <!-- Needed for processing notifications -->
    <permission android:name="com.trover.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.trover.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/rotterdamdata"
        android:label="Rotterdam Data"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--<receiver android:name="com.topkek_mobile.NotificationReceiver" android:permission="com.google.android.c2dm.permission.SEND">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
                <!--<category android:name="com.myappname" />-->
            <!--</intent-filter>-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.android.c2dm.intent.REGISTRATION" />-->
                <!--<category android:name="com.myappname" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <activity
            android:name="topkek_mobile.BasicFunctions.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|keyboard"
            android:label="Rotterdam Data"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="topkek_mobile.BasicFunctions.CSVFile_Test"
            android:label="@string/title_activity_csvfile__test"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name="topkek_mobile.Note.NoteActivity"
            android:label="Enter Task"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="topkek_mobile.Note.TaskDescriptionActivity"
            android:label="Enter Task"
            android:screenOrientation="portrait"></activity>

        <service
            android:name="topkek_mobile.BasicFunctions.GeocodeAddressIntentService"
            android:exported="false"/>
        <activity
            android:name="topkek_mobile.BasicFunctions.DateActivity"
            android:label="Date"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="topkek_mobile.BasicFunctions.CentrumChart"
            android:label="Centrum"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="topkek_mobile.BasicFunctions.CharloisChart"
            android:label="Charlois"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="topkek_mobile.BasicFunctions.DelfshavenChart"
            android:label="Delfshaven"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="topkek_mobile.BasicFunctions.FeijenoordChart"
            android:label="Feijenoord"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="topkek_mobile.BasicFunctions.CrooswijkCharts"
            android:label="Crooswijk"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="topkek_mobile.BasicFunctions.HillegersbergCharts"
            android:label="Hillegersberg"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="topkek_mobile.BasicFunctions.NoordCharts"
            android:label="Noord"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="topkek_mobile.BasicFunctions.OverschieCharts"
            android:label="Overschie"
            android:screenOrientation="portrait"></activity>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/ push please.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="topkek_mobile.BasicFunctions.MapsActivity"
            android:label="@string/title_activity_maps"></activity>
        <activity
            android:name="topkek_mobile.BasicFunctions.PernisChart"
            android:label="Pernis"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="topkek_mobile.BasicFunctions.IJsselmondeChart"
            android:label="Ijsselmonde"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="topkek_mobile.BasicFunctions.WestChart"
            android:label="West"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="topkek_mobile.BasicFunctions.HoogvlietChart"
            android:label="Hoogvliet"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="topkek_mobile.BasicFunctions.OmmoordChart"
            android:label="Ommoord"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="topkek_mobile.BasicFunctions.GazChart"
            android:label="Gazelle"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="topkek_mobile.BasicFunctions.BatChart"
            android:label="Batavus"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="topkek_mobile.BasicFunctions.PeuChart"
            android:label="Peugeot"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="topkek_mobile.BasicFunctions.SpaChart"
            android:label="Sparta"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="topkek_mobile.BasicFunctions.GiaChart"
            android:label="Giant"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="topkek_mobile.BasicFunctions.UniChart"
            android:label="Union"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="topkek_mobile.BasicFunctions.YahChart"
            android:label="Yamaha"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="topkek_mobile.BasicFunctions.TomChart"
            android:label="Tomos"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="topkek_mobile.BasicFunctions.PiaChart"
            android:label="Piaggio"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="topkek_mobile.BasicFunctions.VesChart"
            android:label="Vespa"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="topkek_mobile.BasicFunctions.GilChart"
            android:label="Gilera"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="topkek_mobile.BasicFunctions.SymChart"
            android:label="Sym"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="topkek_mobile.BasicFunctions.PoiChart"
            android:label="Pointer"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="topkek_mobile.BasicFunctions.AltChart"
            android:label="Alta"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="topkek_mobile.BasicFunctions.OveChart"
            android:label="Overig"
            android:screenOrientation="portrait"></activity>
        <receiver android:name="topkek_mobile.BasicFunctions.AlarmReceiver" android:process=":remote" />
    </application>

</manifest>